/*******************************************************************************
* Container styles 
*******************************************************************************/
.container {
  height: 100vw;
  padding: 20px;

  background: #83a4d4;    /* fallback for old browsers */
  background: linear-gradient(to left, #b6fbff,  #83a4d4);

  color: #171212;
}

.headline-primary {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
}

/*******************************************************************************
* Item component styles 
*******************************************************************************/
.item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.item > span {
  padding: 0 5px;
  white-space: nowrap;    /* keep content on single line */
  overflow: hidden;    /* hide any overflowing content */
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item > span > a {
  color: inherit;
}

/*******************************************************************************
* Base Button Element Styles 
*******************************************************************************/
.button {
  background: transparent;
  border: 1px solid #171212;
  padding: 5px;
  cursor: pointer;
}

